<%= render 'top/navbar' %>

<div class="checklist">
  <div class="checklist_title">
    <p>コートへ行く前の持ち物チェック</p>
  </div>
  <div class="checktable">
    <table cellpadding="10" border="1">
      <tr>
        <th height="30">チェック項目</th>
        <th height="30">確認ボタン</th>
      </tr>
      <tr>
        <td height="30">コート代金はいくらか、その負担方法は相手と話し合ったか</th>
        <td height="30"><input type="checkbox"></td>
      </tr>
      <tr>
        <td height="30">コートサーフェスが何か把握しているか</td>
        <td height="30"><input type="checkbox"></td>
      </tr>
      <tr>
        <td height="30">サーフェスに合ったシューズを履いているか</td>
        <td height="30"><input type="checkbox"></td>
      </tr>
      <tr>
        <td height="30">テニスボールの個数、またその状態を相手に伝えたか</td>
        <td height="30"><input type="checkbox"></td>
      </tr>
      <tr>
        <td height="30">お互いのテニス歴や上達度は把握しているか</td>
        <td height="30"><input type="checkbox"></td>
      </tr>
    </table>
  </div>
  <h3>さあ、テニスへ行こう！！</h3>
</div>