
<div class="comment col-sm-12">
  <p><%= direct_message.user.nickname %> : <%= direct_message.message %></p>
  <p><%= time_ago_in_words direct_message.updated_at %></p>
</div>
<div class="clear"></div>





