<%= render 'top/navbar' %>

<% notifications = @notifications.where.not(visitor_id: current_user.id) %>

<div class="notifications">
  <div class="notice_title">
    <p><%= current_user.nickname %> さんへの新規通知一覧</p>
  </div>
  <% if notifications.exists? %>
    <%= render notifications %>
  <% else %>
  <div class="notification">
    <p>新規通知はありません</p>
  </div>
  <% end %>
</div>