<% if current_user.already_liked?(@recruit_player) %>
  <%= button_to 'いいねを取り消す', "/recruit_players/#{@recruit_player.id}/likes/#{current_user.id}", method: :delete, remote: true %>
<% else %>
  <%= button_to 'いいね', recruit_player_likes_path(@recruit_player), method: :post, remote: true %>
<% end %>
<div class="good_count">
  <%= link_to "#{@recruit_player.likes.count}件のいいね", "/recruit_players/#{@recruit_player.id}/likedmember" %>
</div>