@import "bootstrap";

body {
  margin : 0px;
  padding : 0px;
  background : url("https://d1f5hsy4d47upe.cloudfront.net/ee/ee078b7d73f9eb33bb4569e646ffcc79_t.jpeg") fixed;
  background-size : cover;
  font-family : MS UI Gothic;
}

.notice_alert {
  padding : 50px 0 0;
  text-align : center;
  font-size : 1.3em;
}

a {
  text-decoration : none;
  padding : 5px; 
  border-radius : 5px;
}
  
.menu-bar {
  height : 60px;
  width : 100%;
  background-color : lightgreen;
}

.title {
  float : left;
  margin-left : 40px;
}

.menu-list {
  float : right;
}

.menu-list ul {
  list-style : none;
}

.menu-list ul li {
  display : inline;
  margin : 0 20px;
}

.main-contents {
  background-color : lightgreen;
  background-size : cover;
  opacity : 0.9;
  background-position : fixed;
  padding-bottom : 80vh;
  padding-top : 20px;
}

/*top.scss*/
.recruit_page {
  padding-top : 0px;
  margin : 40px auto;
  text-align : center;
}

.bosyu_title {
  width : 60%;
  margin : 0 auto;
  text-align : center;
  font-size : 2.0em;
}

.pagination {
  width : 60%;
  margin : 30px auto 0;
  justify-content: center;
}



.recruit_player_content {
  margin : 20px auto;
  width : 60%;
  border : 1px solid blue;
  border-radius : 10px;
  padding : 20px;
}

.recruit_player_content .user_image {
  float : left;
  margin-left : 0px;
  width : 100px;
  height : 100px;
}

.user_title {
  height : 100px;
}

.recruit_player_content h3 {
  float : left;
  margin-left : 30px;
}

.destroyed_recruit_page {
  padding-top : 0px;
  text-align : center;
}

.timeplace {
  position : relative;
  left : 0px;
  font-size : 1.1em;
}

@media screen and (max-width:800px){
  .bosyu_title {
    width : 70%;
    font-size : 1.8em;
  }
  
  .recruit_player_content {
    margin : 20px auto;
    width : 80%;
    border : 1px solid blue;
    border-radius : 10px;
    padding : 20px;
  }
}

@media screen and (max-width:700px){
  .bosyu_title {
    width : 80%;
    font-size : 1.5em;
  }
  
  .recruit_player_content {
    width : 90%;
  }
  
  .timeplace {
    font-size : 1.0em;
    font-weight : bold;
  }
}

@media screen and (max-width:500px){
  .bosyu_title {
    width : 90%;
    font-size : 1.4em;
  }
}


/*users.scss*/
.image {
  margin : 20px auto;
}

.user_page {
  margin : 40px auto;
  text-align : center;
}

.user_introduction {
  width : 80%;
  margin : 20px auto;
}

.watch_tennis {
  padding-top : 15px;
}

@media screen and (max-width:800px){
  .user_introduction {
    width : 90%;
  }
}

.log_in_panel {
  width : 50%;
  margin : 20px auto;
}

.formtitle {
  text-align : center;
  font-size : 2.3em;
  padding-bottom : 40px;
}

.formtitle_subtitle {
  font-size : 1.6em;
  
}

.login_title {
  text-align : center;
}

@media screen and (max-width:800px){
  .formtitle {
    font-size : 1.7em;
    padding-bottom : 30px;
  }
  
  .formtitle_subtitle {
    font-size : 1.3em;
    
  }
}

@media screen and (max-width:600px){
  .log_in_panel {
    width : 80%;
    margin : 20px auto;
  }
  
  .formtitle {
    font-size : 1.5em;
    padding-bottom : 20px;
  }
  
  .formtitle_subtitle {
    font-size : 1.1em;
    
  }
}

.field {
  margin : 20px 0;
}

.edit_field {
  margin : 20px auto;
}

.actions {
  margin : 20px 0;
}

.field input[type="email"] {
  width : 100%;
  height : 30px;
  border-radius : 10px;
}

.field #user_image {
  width : 100%;
  margin : 0 auto;
}

.field #user_video {
  width : 100%;
  margin : 0 auto;
}

.edit_field #user_image {
  width : 25%;
  margin : 0 auto;
}

.edit_field #user_video {
  width : 25%;
  margin : 0 auto;
}

@media screen and (max-width:800px){
  .user_page {
    font-size : 0.95em;
    font-weight : bold;
  }
  
  .user_page h2 {
    font-size : 1.5em;
  }
  
  .edit_field #user_image {
    width : 50%;
  }
  
  .edit_field #user_video {
    width : 50%;
  }
}

@media screen and (max-width:600px){
  .edit_field #user_image {
    width : 60%;
  }
  
  .edit_field #user_video {
    width : 60%;
  }
}

.field input[type="password"] {
  width : 100%;
  height : 30px;
  border-radius : 10px;
}

.registration {
  width : 50%;
  margin : 20px auto;
}

.first_introduction {
  color : gray;
  text-align : center;
}

.first_enter_intro {
  font-size : 1.9em;
  padding : 25px 0;
}

.nervous_li {
  font-size : 1.2em;
  line-height : 45px;
}

.nervous_white {
  color : black;
}

.pittari {
  padding : 30px 0;
  font-size : 1.6em;
}

.finish_intro {
  padding : 10px 0;
  font-size : 1.3em;
}

@media screen and (max-width:1000px){
  .first_enter_intro {
    font-size : 1.7em;
    padding : 25px 0;
  }
}

@media screen and (max-width:900px){
  .first_enter_intro {
    font-size : 1.5em;
    padding : 25px 0;
  }
  
  .nervous_li {
    font-size : 1.1em;
    line-height : 35px;
  }
  
  .pittari {
    padding : 25px 0;
    font-size : 1.5em;
  }
  
  .finish_intro {
    padding : 10px 0;
    font-size : 1.2em;
  }
}

@media screen and (max-width:700px){
  .registration {
    width : 90%;
  }
  
  .first_enter_intro {
    font-size : 1.3em;
    padding : 25px 0;
  }
  
  .nervous_li {
    font-size : 1.0em;
    line-height : 35px;
  }
  
  .pittari {
    padding : 25px 0;
    font-size : 1.3em;
  }
  
  .finish_intro {
    padding : 10px 0;
    font-size : 1.1em;
  }
}

@media screen and (max-width:600px){
  .first_enter_intro {
      padding : 15px 0;
    }
}

.field input[type="text"] {
  width : 25%;
  border-radius : 10px;
}

.field textarea {
  width : 100%;
  border-radius : 10px;
}

.text_field {
  width : 100%;
  margin : 0 auto;
}

.file_choice {
  width : 100%;
} 

.user_recruit_title {
  margin : 20px auto;
  width : 60%;
}

#topbutton {
  margin-top : 30px;
}

.video_contents {
  margin : 20px auto;
  width : 60%;
  text-align : center;
}

.video_title {
  margin-bottom : 40px;
}

#user_video {
  margin-top : 20px;
}

.back_to_user {
  margin-top : 20px;
}

.forgot_title {
  text-align : center;
  padding-top : 30px;
}

.forgot_form {
  width : 50%;
  margin : 0 auto;
}



/*recruit_players.scss*/
.form {
  width : 60%;
  margin : 20px auto;
}

.recruit_players_page_title {
  font-size : 1.8em;
  text-align : center;
}

.form_group {
  margin : 20px auto;
}

.form_group input {
  width : 100%;
  border-radius : 10px;
  height : 30px;
}

.form_group textarea {
  width : 100%;
  border-radius : 10px;
}

input[type="submit"] {
  border-radius : 5px;
}

@media screen and (max-width:700px){
  .form {
    width : 80%;
  }
  
  .recruit_players_page_title {
    font-size : 1.5em;
  }
}

/*players_comments.scss*/
.sub_content {
  width : 60%;
  margin : 20px auto;
}

.contents {
  margin-top : 40px;
}

.comment_contents {
  margin-top : 60px;
}

.comment_attention {
  text-align : center;
  padding-top : 20px;
}

.comment_user_image {
  float : left;
}

.comment {
  position : relative;
  left : 0px;
  width : 70%;
  margin-top : 10px;
  border-bottom : 1px solid darkgray;
}

.clear {
  clear : both;
}

.like {
  margin-top : 20px;
}

.to_top {
  margin : 30px auto;
  text-align : center;
}

@media screen and (max-width:800px){
  .sub_content {
    width : 80%;
  }
}

@media screen and (max-width:700px){
  .sub_content {
    width : 90%;
  }
  
  .comment {
    width : 100%;
  }
}

/*relationships.scss*/
.follow_button {
  width : 130px;
}

h3 {
  text-align : center;
}

.followers_contents {
  width : 60%;
  margin : 30px auto;
}

.follower {
  padding-top : 20px;
  border-top : 1px solid gray;
}

.follower_name {
  text-align : center;
}

.follower_image {
  margin : 0px auto 10px;
  text-align : center;
}


.followings_contents {
  width : 60%;
  margin : 30px auto;
}

.following {
  padding-top : 20px;
  border-top : 1px solid gray;
}

.following_name {
  text-align : center;
}

.following_image {
  margin : 0px auto 10px;
  text-align : center;
}

@media screen and (max-width:600px){
  .followings_contents {
    width : 90%;
  }
  
  .followings_contents h3 {
    font-size : 1.1em;
    font-weight : bold;
  }
  
  .followers_contents {
    width : 90%;
  }
}




/* notifications.scss */
.notifications {
  margin: 40px auto;
}

.notice_title {
  width : 60%;
  margin : 0 auto;
  font-size : 1.8em;
  text-align : center;
  border-bottom : 1px solid darkgray;
}

.notification {
  width : 60%;
  margin : 0 auto;
  padding-top : 15px;
  padding-bottom : 10px;
  border-bottom : 1px solid darkgray;
}

@media screen and (max-width:700px){
  .notice_title {
    width : 90%;
    font-size : 1.3em;
  }
  
  .notification {
    width : 90%;
    font-size : 1.0em;
    font-weight : bold;
  }
}

/* check.scss */
tr {
  margin : 20px;
}

.checklist {
  width : 70%;
  margin : 20px auto;
  text-align : center;
}

.checklist_title {
  font-size : 1.8em;
}

.checktable {
  margin : 30px auto;
}

table {
  margin : 0 auto;
}

@media screen and (max-width:700px){
  .checklist_title {
    font-size : 1.3em;
  }
  
  .checklist {
    width : 90%;
  }
}

@media screen and (max-width:600px){
  .checktable {
    font-size : 0.9em;
    font-weight : bold;
  }
}



/* room.scss */
.dm_send_content {
  width : 60%;
  margin : 20px auto;
}

.message_to_men {
  font-size : 2.0em;
  text-align : center;
}

.message_form {
  margin : 0 auto;
  text-align : center;
}

.message_form textarea {
  width : 100%;
}

.message_form button {
  padding : 5px 10px;
  margin : 10px;
}

.link_to_top {
  margin-top : 30px;
}

@media screen and (max-width:800px){
  .dm_send_content {
    width : 80%;
  }
}

@media screen and (max-width:700px){
  .dm_send_content {
    width : 90%;
  }
}


/*


 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
  *= require_self
 */
